.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;

  font-size: 20px;
}

.alert {
  width: fit-content;
  color: rgb(234, 12, 12);
}

.removeButton {
  background: transparent;
  border-radius: 50%;
  border: 2px solid #515050;
  height: 32px;
  margin-right: 10px;
  position: relative;
  width: 33px;
}

.removeButton:hover,
.removeButton:focus {
  background-color: rgb(37, 36, 37);
}
